html,body
{
    height: 400px;
}
body{
    background: #b8b8b8;
}
.form {
    margin: 0 auto;
}
#passwordmakerform{
    width: 50%;
    background: #f0f0f0;
    padding: 2%;
}
#submitpassform{
    width: 100%;
    background: #606060;
    color:#afafaf;
}
#submitpassform:hover{
    background: #6f6f6f;
    color: #343434;
}
#submitpassform:focus{
    background: #c4c4c4;
}
.filldiv
{
    width: 50%;
    float: left;
}
.fill_margin{
    margin: 2px 0;
    display: inline-block;
   height: 20px;
}
.txt_input{
    border-radius: 5%;
}
#example{
    color: #606060;
    font-size: 13px;
}